body {
	background-color: #fafafa;
}

h2 {
  font-family: "Montserrat";
	font-size: 14px;
	color: #999;
	letter-spacing: 4px;
	text-transform: uppercase;
  text-align: center;
}

p {
	font-family: "Source Sans Pro",sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 36px;
	color: #333;
}

a {
  font-family: "Source Sans Pro",sans-serif;
	font-style: normal;
	font-weight: 300;
}

/* link style */
a.coral-link {
	color: #ee5254;
  text-decoration: none;
	display: inline-block;
}

/* link underline when hover */
a.coral-link:after {
	content: '';
	display: block;
	height: 1px;
	width: 0;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

/* link underline when hover */
a.coral-link:hover:after {
	width: 100%;
	background: #ee5254;
}

/* header style */
.header {
	font-size: 24px;
	line-height: 10px;
	margin-left: 100px;
}

/* header underline */
.underline {
	border-bottom: 3px solid #ee5254;
	width: 20px;
	margin-bottom: 60px;
	margin-left: 100px;
}

/* sub-header of projects styling */
.sub-header {
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 500;
	color: #999;
	line-height: 0px;
}

/* title of each project */
.title {
	line-height: 0px;
}

/* sub-title of each project */
.sub-title {
	font-size: 16px;
	color: #999;
}

/* See more button styling */
a.btn {
	text-align: center;
	color: #ee5254;
	border: 1px solid #ee5254;
	border-radius: 40px;
	padding: 10px 20px;
	margin: 0 auto;
	display: inline;
	font-size: 14px;
	transition: all 0.4s ease 0s;
	font-weight: 300;
}

/* button change when hover and clicked */
a.btn:hover, a.btn:focus{
	color: #fff;
	background-color: #ee5254;
}

/* -------------------- The Nav Bar --------------------*/

/* navbar box color*/
.navbar {
    background-color: rgba(250, 250, 250, 0.96);
    border-color: rgba(250, 250, 250, 0.96);
}

/* title Jonas Kofod */
.navbar-brand {
	font-family: "Montserrat";
	font-size: 10px;
	color: #999;
	letter-spacing: 3px;
	text-transform: uppercase;
	padding-left: 40px;
	font-weight: 400;
}
/* change of color of title Jonas Kofod when hover and focus */
.navbar-brand:hover,
.navbar-brand:focus {
	color: #ee5254
}

.nav {
	padding-right: 40px;
}

.navbar-custom .nav .nav-link {
  color: #999;
	font-family: "Montserrat";
	font-weight: 400;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 3px;
}

.navbar-custom .nav .nav-link:hover,
.navbar-custom .nav .nav-link:focus {
	color: #ee5254
}

/* -------------------- Intro Section --------------------*/
#intro {
	margin: 150px 0px 150px 300px;
}

.intro {
	position: relative;
	opacity: 2;
	font-size: 22px;
	line-height: 36px;
	font-family: "Source Sans Pro",sans-serif;
	font-style: normal;
	font-weight: 100;
}

/* -------------------- Projects Section --------------------*/

#projects {
  margin-bottom: 100px;
  margin-left: 0px;
	padding-top: 56px;
}

/* gird for the pictures */
.grid {
	padding: 0px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

/* picture text in the grid */
.grid li {
	display: inline-block;
	width: 500px;
	margin: 1px
	padding: 0px;
	text-align: left;
	position: relative;
}

/* picture size */
.grid figure img {
	max-width:100%;
	display: block;
	position: relative;
	transform: translate(0, -50px);
}

/* picture grid styles */
.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px;
	background: #fff;
	color: #999;
  max-width:100%;
  font-family: "Source Sans Pro",sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
}

/* unordered list tags */
ul.tags{
	list-style-type: none;
	padding: 0px;
}

/* Projec tags */
.tags li {
	display: inline;
	margin-right: 1px;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 1px;
	left: 5px;
	bottom: 10px;
}

/* position of see more button */
.cs-style-3 figcaption a {
	position: absolute;
	bottom: 13px;
	right: 20px;
}

/* picture title */
.grid figcaption h3 {
	margin: 0;
	padding: 10px 0px 0px 5px;
  font-family: "Source Sans Pro",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #333;
}

/* picture description */
.grid figcaption .description {
	font-size: 16px;
	padding: 0px 0px 0px 5px;
	color: #999;
}

/* picture overflow hidden */
.cs-style-3 figure {
	overflow: hidden;
}

/* text under picture */
.cs-style-3 figcaption {
	height: 120px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 1;
}

/* ------- margin to sections -------- */

/* margin on courses */
#courses {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 0px;
	padding-top: 56px;
}

/* courses header styling */
p.courses-header {
  font-family: "Source Sans Pro",sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 100;
  color: #333;
	line-height: 30px;
  padding-bottom: 10px;
	margin-left: 100px;
}

p.status-courses {
	font-family: "Source Sans Pro",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #333;
	margin-left: 100px;
}

/* unordered list courses */
ul.courses {
	list-style-type: none;
  margin: 0px;
	padding: 10px;
  font-family: "Source Sans Pro",sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  color: #333;
	margin-left: 100px;
}

/* space between list items */
ul.courses li{
  margin-bottom: 10px;
}

/*  checkmarks on list items */
ul.courses li:before {
   content:"\2713\0020";
   margin-right: 10px;
 }

/* unordered list of halfdone courses */
ul.halfdone-courses{
  list-style: none;
  position: relative;
  margin: 0px;
	padding: 10px;
  font-family: "Source Sans Pro",sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  color: #333;
	margin-left: 100px;
}

/* space between list items */
ul.halfdone-courses li{
  margin-bottom: 10px;
}

/* list points circle */
ul.halfdone-courses li:before {
    content: '〇';
    margin-right: 15px;
}

#sayhello {
	margin-top: 150px;
  margin-bottom: 300px;
  margin-left: 0px;
	padding-top: 56px;
}

/* ------------- Mobile phones --------------- */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
}

/* picture text in the grid */
.grid li {
	display: inline-block;
	max-width: 80%;
  margin-bottom: 10px;
	padding: 0px;
	text-align: left;
	position: relative;
}

/* styling of see more button */
a.btn {
	text-align: center;
	color: #ee5254;
	border: 1px solid #ee5254;
	border-radius: 20px;
	padding: 5px 10px;
	margin: 0 auto;
	display: inline;
	font-size: 12px;
	transition: all 0.4s ease 0s;
	font-weight: 350;
}

/* Project tags */
.tags li {
	display: inline;
	margin-right: 1px;
	padding: 3px 6px;
	border: 1px solid #ccc;
	border-radius: 1px;
	left: 5px
}

#intro {
	margin: 100px 0px 50px 20px;
}


#sayhello {
	margin-top: 50px;
  margin-bottom: 100px;
}

#projects {
  margin-bottom: 50px;
}

.intro {
	position: relative;
	opacity: 2;
	font-size: 18px;
	line-height: 34px;
	font-family: "Source Sans Pro",sans-serif;
	font-style: normal;
	font-weight: 100;
}

.navbar-brand {
	font-family: "Montserrat";
	font-size: 8px;
	color: #999;
	letter-spacing: 3px;
	text-transform: uppercase;
	padding-left: 20px;
	font-weight: 400;
}

#nav_right {
    display: none;
}

/* header style */
.header {
	font-size: 20px;
	line-height: 10px;
	margin-left: 20px;
}

/* header underline */
.underline {
	border-bottom: 3px solid #ee5254;
	width: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}

/* courses header styling */
p.courses-header {
  font-family: "Source Sans Pro",sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 100;
  color: #333;
	line-height: 30px;
  padding-bottom: 10px;
	margin-left: 20px;
}

p.status-courses {
	font-family: "Source Sans Pro",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #333;
	margin-left: 20px;
}

/* unordered list courses */
ul.courses {
	list-style-type: none;
  margin: 0px;
	padding: 10px;
  font-family: "Source Sans Pro",sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  color: #333;
	margin-left: 20px;
}

/* unordered list of halfdone courses */
ul.halfdone-courses{
  list-style: none;
  position: relative;
  margin: 0px;
	padding: 10px;
  font-family: "Source Sans Pro",sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  color: #333;
	margin-left: 20px;
}
